<section class="bg-dark text-white" id ="home" style ="padding: 80px 0 50px">
  <div class="container py-3">
   <div class="row align-items-center g-4">
    <div class=" col-md-7">
      <h2>する考</h2>
      <h5>本の考察コミュニティサイト</h5>
    </div>
    <div class="col-md-5 text-center">
      <img src="app/assets/images/undraw_Reading_book_re_kqpk.png" class ="img-fluid" alt ="Responsive image">
    </div>
   </div>
  </div>
</section>



