<div class="container mb-5">
　<h2 class="head-line title_h2 text-center mb-5">本当に退会しますか？</h2>
    <div class="text-center mb-5">
      退会すると会員情報登録や</br>
      これまでの投稿履歴が閲覧できなくなります。</br>
      退会する場合は「退会する」をクリックしてください。
    </div>
    <div class="row justify-content-center mb-5">
      <%= link_to "退会しない",  user_path(current_user), class:"btn btn-primary" %>
      <p>　</p>
      <%= link_to " 退会する ", withdraw_users_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class:"btn btn-danger" %>
    </div>
</div>